#logo
  max-width: 800px

#logo-holder
  width: 100%
  min-height: 50vh

#footer
  background-color: $color-black
  color: $color-grey

#logo-footer
  width: 100px

input
  padding: $margin-tiny 0 !important

#chevron
  transform: rotate(45deg)
  border-width: 1px 1px 0 0
  border-style: solid
  border-color: $color-grey-dark
  width: 10px
  height: 10px

#input-name
  margin-bottom: $margin-small

.app-button
  width: 150px
