#logo-footer
  width: 150px

input
  margin: 0 $margin-tiny
  padding: $margin-tiny 0 !important

#chevron
  width: 15px
  height: 15px

form
  flex-wrap: nowrap !important

#input-name
  margin-bottom: 0
