#logo-footer
  width: 150px

input
  padding: $margin-tiny 0 !important

#chevron
  width: 15px
  height: 15px

form
  flex-wrap: nowrap !important

#input-name
  margin-bottom: 0

.app-button
  width: auto
